---
layout: index
---

{% comment %}
{% assign sorted_posts = site.posts | sort:"pos" %}
{% for post in sorted_posts %}
<section id="{{ post.a }}">
    <h2>{{ post.title }}{% if post.en != nil %}<a class="flag en" href="#{{ post.en }}"></a>{% elsif post.de != nil %}<a class="flag de" href="#{{ post.de }}"></a>{% endif %}</h2>
    {{ post.content }}
</section>
{% endfor %}
{% endcomment %}

{% for post in site.posts %}
<section id="{{ post.a }}">
    <h2>{{ post.title }}{% if post.en != nil %}<a class="flag en" href="#{{ post.en }}"></a>{% elsif post.de != nil %}<a class="flag de" href="#{{ post.de }}"></a>{% endif %}</h2>
    {{ post.content }}
</section>
{% endfor %}

<section id="meet">
    <h2>First Meeting – {{ site.posts.size }}</h2>
    <p>
        We are the <b>Scala Enthusiasts Braunschweig</b> – we are enthusiastic users of the programming language Scala.
        Our goals are communicating our excitement to interested programmers and exchanging views on programming.
        This is why we organize a meeting on <b>every second Thurdsay each month</b>.
        The first meeting will be held on <b>August 14th, 2014</b>.
    </p>
    <p>
        Contentwise, we will focus on a short introduction to Scala and provide an overview of its basics.
        You will need no prior knowledge for this.
        In our first talk you will learn about <b>Scala for Java Programmers</b> and how small adjustments turn a Java program into an executable Scala program.
        The second talk about <b>Awesome Scala</b> deals with some selected features that make Scala extraordinary.
        At the end, <b>Beyond Scala's Standard Library</b> provides a short overview over major Scala libraries and frameworks outside the Scala standard library.
        Further information can be found in this <a href="http://scala-bs.de/meetings/Scala-Enthusiasts-Braunschweig-Meeting-2014-08-14.pdf">flyer</a>.
    </p>
    <p>
        The most important dates for our first meeting are:
    </p>
    <dl>
        <dt>Date</dt><dd>Thursday, August 14th, 2014</dd>
        <dt>Location</dt><dd>Mühlenpfordtstraße 23, Room IZ 161</dd>
        <dt>Begin</dt><dd>6 PM</dd>
    </dl>
    <p>
        We are looking forward to seeing you.
        Special thanks go to the <a href="http://fginfo.cs.tu-bs.de">Fachgruppenrat Informatik</a> of TU Braunschweig for the location.
        If you want to learn more about Scala and us use the links at the bottom of this page.
    </p>
</section>

<nav>
    <h3>Meetings</h3>
    {% assign num = 1 %}
    {% for post in sorted_posts reversed %}
    {% if post.tags contains "meeting" %}
    {% assign num = num | plus:1 %}
    {% endif %}
    {% endfor %}
    
    {% for post in sorted_posts reversed %}
    {% if post.tags contains "meeting" %}
    {% assign num = num | minus:1 %}
    <a href="#{{ post.a }}" class="button">
        <span>Meeting #{{ num }}</span>
        <small>{{ post.date | date:"%B, %dth %Y" }}</small>
    </a>
    {% endif %}
    {% endfor %}
</nav>