<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scala Enthusiasts Braunschweig</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
</head>
<body>
	
    <header>
		<div class="group1">
			<h1>
				Scala <strong>Enthusiasts</strong>
				<small>Braunschweig</small>
			</h1>
			<div id="scroll-down">Scroll down to visit the page</div>
			<div id="mountains2"></div>
			<div id="mountains"></div>
			<div id="clouds3"></div>
			<div id="clouds2"></div>
		</div>
		<div id="m1"></div>
		<div id="m2"></div>
		<div id="land"></div>
		<div id="clouds"></div>
		<div id="cloudsF"></div>
	</header>
    
    {{ content }}
    
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/index.js"></script>
    
</body>
</html>