<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scala Enthusiasts Braunschweig</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
</head>
<body>
	
    <header>
		<div class="group1">
			<h1>
				Scala <strong>Enthusiasts</strong>
				<small>Braunschweig</small>
			</h1>
			<div id="scroll-down">Scroll down to visit the page</div>
			<div id="mountains2"></div>
			<div id="mountains"></div>
			<div id="clouds3"></div>
			<div id="clouds2"></div>
		</div>
		<div id="m1"></div>
		<div id="m2"></div>
		<div id="land"></div>
		<div id="clouds"></div>
		<div id="cloudsF"></div>
	</header>
    
    <article>
        
        <!--section id="about-scala-en">
            <h2>Scala</h2>
            <p>to be done</p>
        </section-->
        
        <section id="about-us-de">
            <h2>Scala Enthusiasten Braunschweig<a class="flag en" href="#about-us-en"></a></h2>
            <p>
                Wir sind die <b>Scala Enthusiasten Braunschweig</b> und wir sind begeisterte Nutzer der Programmiersprache Scala.
                Unser Ziel ist es, diese Begeisterung an interessierte Programmierer weiterzugeben und uns mit ihnen auszutauschen.
                Aus diesem Grund organisieren wir am <b>zweiten Donnerstag jeden Monats</b> ein Treffen.
            </p>
        </section>
        
        <section id="about-us-en">
            <h2>Scala Enthusiasts Braunschweig<a class="flag de" href="#about-us-de"></a></h2>
            <p>
                We are the <b>Scala Enthusiasts Braunschweig</b> – we are enthusiastic users of the programming language Scala.
                Our goals are communicating our excitement to interested programmers and exchanging views on programming.
                This is why we organize a meeting on <b>every second Thurdsay each month</b>.
            </p>
        </section>
        
        <section id="impressum">
            <h2>Impressum</h2>
            <dl>
                <dt>Kontakt</dt><dd>Philipp Wille</dd>
                <dt>Adresse</dt><dd>Gudrunstraße 46<br />38112 Braunschweig</dd>
                <dt>Mail</dt><dd>philipp.wille [at] web.de</dd>
            </dl>
        </section>
        
        {{ content }}
        
    </article>
    
    <footer>
        <div>
            <p>
                Do you want to know more?
            </p>
        </div>
        <div>
            <nav class="column">
                
                <a target="_blank" href="https://github.com/scala-bs/" class="button">
                    <span>Github</span>
                    <small>Our Sourcecode</small>
                </a>
                
                <a target="_blank" href="https://twitter.com/scalabs" class="button">
                    <span>Twitter</span>
                    <small>Follow us</small>
                </a>
                
            </nav>
            <nav class="column">
                
                <!--a href="#about-scala-en" class="button">
                    <span>About Scala</span>
                    <small>Modular Programming</small>
                </a-->
                
                <a href="#about-us-en" class="button">
                    <span>About us</span>
                    <small>Scala Enthusiasts BS</small>
                </a>
                
            </nav>
            <nav class="column">
                
                <a target="_blank" href="https://github.com/scala-bs/scala-bs" class="button">
                    <span>Mailinglists</span>
                    <small>Subscribe and get Updates</small>
                </a>
                
                <a href="#impressum" class="button">
                    <span>Impressum</span>
                    <small>Contact us</small>
                </a>
                
            </nav>
        </div>
    </footer>
    
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/index.js"></script>
    
</body>
</html>